<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botones</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<body class="p-2 font-poppins">
    <div class=" p-4 grid grid-cols-2 gap-4 container-shadow-md">
        <div class="">
            <h2 class="text-2xl md__text-5xl font-bold text-blue-primary">Buttons solid color</h2>
            <p class="text-sm text-gray-700">btn-base ...</p>
            <button class="btn-base submit">submit</button>
            <button class="btn-base reset">reset</button>
            <button class="btn-base successful"><i class="fi fi-br-check mx-2"></i>succesful</button>
            <button class="btn-base delete"><i class="fi fi-br-trash-xmark mx-2"></i>delete</button>
        </div>
        <div class="">
            <h2 class="text-2xl font-bold text-blue-primary">Buttons line color</h2>
            <p class="text-sm text-gray-700">btn-base ...-line</p>
            <button class="btn-base submit-line">submit-line</button>
            <button class="btn-base reset-line">reset-line</button>
            <button class="btn-base successful-line"><i class="fi fi-br-check mx-2"></i>succesful-line</button>
            <button class="btn-base delete-line"><i class="fi fi-br-trash-xmark mx-2"></i>delete-line</button>
        </div>
        <div class="">
            <h2 class="text-2xl font-bold text-blue-primary">Special Buttons Responsive</h2>
            <p class="text-sm text-gray-700">btn-spc ....</p>
            <button class="btn-spc edit-sm"><i class="fi fi-rr-pencil"></i><span>edit-sm</span></button>
            <button class="btn-spc delete-sm"><i class="fi fi-rr-trash-xmark"></i><span>edit-sm</span></button>
            <button class="btn-spc normal-sm"><i class="fi fi-rr-home"></i></i><span>Home</span></button>
        </div>
        <div class="">
            <h2 class="text-2xl font-bold text-blue-primary">Other Buttons Responsive</h2>
            <p class="text-sm text-gray-700">btn-spc ....</p>
            <button class="btn-spc approved">approved</button>
            <button class="btn-spc inprogress">progress</button>
            <button class="btn-spc danger">Inactivo</button>
        </div>
    </div>
    <p class="text-sm text-slate-500 my-2">Toda esta página está construida con Markstyles</p>
</body>
</html>