/* CLASES PARA ELEMENTOS DEL FORMULARIO (INPUTS, SELECTS)*/
/* 
+ ---------------------------- ESTILOS DE FORMULARIOS
+-------------------- form-1
*/

:root {
  --primary-color: #1e3a8a;
  --second-color: #3b82f6;
  --gray-primary: #f1f4fb;
  --gray-second: #ccd7db;
  --gray-soft: #f4f4f4;
  --gray-dark: #656e70;
  --blue-50: #edf0f9;

  --gray-700: #4d4d4d;
  --gold-500: #c2872b;
  --green-500: #5ba132;
  --red-500: #c93240;

  /* SLATE */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-800: #1e293b;
}

form label,
form input {
  margin-bottom: 0rem !important;
}

form {
  padding: 0.5rem;
}

form.fm-base a,
form.fm-base p,
form.fm-base span,
label.base-lb {
  display: block;
  color: var(--slate-600);
  font-weight: 500;
  font-size: 0.7rem;
  /* 12px text-xs */
  line-height: 1rem;
}

select.base-factu-select {
  outline: none;
  border: 1px solid var(--slate-200);
  display: block;
  padding: 0.35rem 0.75rem;
  width: 100%;
  background-color: var(--slate-50);
  /* margin: 0.25rem 0rem 0rem 0rem !important; */
  border-radius: 0.375rem !important;
  /* 6px */
  transition: all ease-in-out 300ms;
  color: var(--slate-600);
  font-size: 0.75rem;
  /* 12px text-xs */
  line-height: 1.1rem;
}

select.base-factu-select:focus {
  outline: none;
  border: 1px solid var(--slate-300);
  background-color: var(--slate-100) !important;
}

input.base-input {
  outline: none;
  border: 1px solid var(--slate-200);
  display: block;
  padding: 0.335rem 0.7rem;
  width: 100%;
  background-color: var(--slate-50);
  /* margin: 0.25rem 0rem 0rem 0rem !important; */
  border-radius: 0.375rem !important;
  /* 6px */
  transition: all ease-in-out 300ms;
  color: var(--slate-600);
  font-size: 0.7rem;
  /* 12px text-xs */
  line-height: 1.1rem;
}

input.base-input:focus {
  background-color: white !important;
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  border: 1px solid #1e3a8a !important;
  --tw-ring-color: #1e3a8a;
}

input.base-input[type="checkbox"] {
  display: inline-block;
  width: auto !important;
  margin: 0rem 0.5rem !important;
}

input.base-input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  color: #00314c;
}

input.base-input[type="date"],
input.base-input[type="datetime"] {
  font-size: 0.7rem !important;
  /* 12px text-xs */
  line-height: 1rem;
}

form .group-inputs {
  margin-bottom: 0.35rem;
}

form .group-btn {
  margin-top: 1rem !important;
}

.check-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--blue-50);
  color: var(--primary-color);
  line-height: 1;
  font-size: 0.7rem;
  border-radius: 0.5rem !important;

  color: var(--primary-color);

  padding: 0.465rem !important;
}

@media screen and (min-width: 640px) {
  form.fm-base .group-inputs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  form.fm-base .group-inputs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  form.fm-base .group-inputs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.25rem;
  }
}

@media screen and (min-width: 1240px) {
  form.fm-base .group-inputs {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.25rem;
  }
}
c

/* 
+ ---------------------------- ESTILOS DE FORMULARIOS
+-------------------- SELECT
*/

select.base-sl {
  background-color: var(--slate-100);
  border: none;
  outline: none;

  padding: 0.34rem 0.7rem !important;
  border-radius: 0.375rem !important;
  /* 6px */
  color: var(--slate-600) !important;
  text-align: center;

  font-size: 0.7rem;
  /* 12px text-xs */
  line-height: 1.1rem;
  width: 100%;
}

/*
select.base-sl:focus {
  background-color: var(--slate-100) !important;
  border: none !important;
  outline: none !important;
  padding: 0.5rem;
  border-radius: 0.5rem !important;
  color: var(--slate-600);
}*/

select.base-sl:focus {
  background-color: white !important;
  outline-style: solid;
  outline-offset: 2px;
  outline-width: 2px;
  border: 1px solid #1e3a8a !important;
  --tw-ring-color: #1e3a8a;
}

form.fm-base select {
  width: 100% !important;
  border: 1px solid var(--slate-200) !important;
}

/*

BOTONES PRIMARIOS

inline-flex items-center justify-center gap-1 px-4 py-1 dark:bg-blue-500 border border-transparent 
rounded-md font-semibold text-sm text-white uppercase tracking-widest hover:bg-blue-950 focus:bg-blue-950 
active:bg-blue-950 focus:outline-none focus:ring-2 focus:ring-blue-900 focus:ring-offset-2 
transition ease-in-out duration-150

*/


.buttton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.225rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  font-weight: bold;
  font-size: 0.7rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  transition: 200ms ease-in-out all;
}


.buttton .primary {
  background-color: var(--second-color);
  color: white;
}

.buttton .primary:hover {
  background-color: var(--primary-color);
}

.buttton .primary:focus {
  background-color: var(--primary-color);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.buttton .primary:active {
  background-color: var(--primary-color);
}
