@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
* VARIABLES
*/
html {
    font-size: 16px !important; /* Establece el tamaño base del texto en 16px */
}

h1, h2, h3, h4, h5, h6, p, a, span, table, th, td, tr{
    /*font-size: 1rem; 16px 
    line-height: 1.5rem;  24px */
    vertical-align: middle !important;
}

:root{
    --primary-color: #00314C;
    --second-color: #026390;
    --gray-primary: #f1f4fb;
    --gray-second: #CCD7DB;
    --gray-soft: #F2F2F2;
    --gray-dark: #656E70;

    --gray-700: #4D4D4D;
    --gold-500: #C2872B;
    --green-500: #5BA132;
    --red-500: #C93240;

    /* SLATE */
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-800: #1e293b;
}


.font-poppins{
    font-family: "Poppins", sans-serif !important;
}

/* CLASES PARA CONTENEDORES */

.container-loyout{
    font-size: 1rem !important; /* 16px */
    line-height: 1.5rem !important; /* 24px */
}

.box-1{
    padding: 1rem; /* 6px */
    border-radius: 0.375rem !important; /* 6px */
    border: 1px solid;
    border-color: var(--slate-200);
    margin: 0.375rem !important;
}

.box-2{
    padding: 1.375rem; /* 6px */
    border-radius: 0.5rem !important; /* 6px */
    border: 1px solid;
    border-color: var(--slate-200);
    margin: 0.375rem !important;
}

.box-3{
    padding: 1.5rem; /* 6px */
    border-radius: 0.75rem !important; /* 6px */
    border: 1px solid;
    border-color: var(--slate-200);
    margin: 0.375rem !important;
}

.box-4{
    padding: 2rem; /* 6px */
    border-radius: 1rem !important; /* 6px */
    border: 1px solid;
    border-color: var(--slate-200);
    margin: 0.375rem !important;
}


.container-shadow-lg{
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.5rem !important;
    /*filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));*/
}



/*
*
* GENERAL STYLES
*
*/



/* 
+
+ ---------------------------- BACKGROUNDS 
+
*/

/* 
+ ---------------------------- BACKGROUNDS 
+-------------------- BG-SLATE
*/


.bg-slate-700{
    background-color: var(--gray-700);
}

.bg-slate-200{
    background-color: var(--slate-200);
}

.bg-slate-100{
    background-color: var(--slate-100);
}

.bg-slate-50{
    background-color: var(--slate-50);
}



.bg-gray-100{
    background-color: var(--gray-soft);
}

.bg-gold-500{
    background-color: var(--gold-500);
}

.bg-red-500{
    background-color: var(--red-500);
}



/* WIDHT */


.w-0{
    width: 0px;
}

.w-auto{
    width: auto !important;
}

.w-fit{
    width: fit-content;
}

.w-full{
    width: 100%;
}

.w-1_2{
    width: 50%;
}
.w-3_4{
    width: 75%;
}

.w-1_4{
    width: 25%;
}
.w-9{
    width: 2.25rem; /* 36px */
}

.w-40{
    width: 10rem; /* 160px */
}

/* 
+
+ ---------------------------- HEIGHT
+
*/


.h-full{
    height: 100% !important;
}

/* 
+
+ ---------------------------- MARGINS
+
*/


.m-1{
    margin: 0.25rem;
}


/**/

.my-1{
    margin-top: 0.25rem; /* 16px */
    margin-bottom: 0.25rem; /* 16px */
}

.my-2{
    margin-top: 0.5rem; /* 16px */
    margin-bottom: 0.5rem; /* 16px */
}

.my-3{
    margin-top: 0.75rem; /* 16px */
    margin-bottom: 0.75rem; /* 16px */
}

.my-4{
    margin-top: 1rem; /* 16px */
    margin-bottom: 1rem; /* 16px */
}

.my-5{
    margin-top: 1.25rem; /* 16px */
    margin-bottom: 1.25rem; /* 16px */
}

.my-6{
    margin-top: 1.5rem; /* 16px */
    margin-bottom: 1.5rem; /* 16px */
}



/*  MARGIN LEFT & RIGTH  */
.mx-auto{
    margin: 0% auto;
}



/* 
+ ---------------------------- MARGIN 
+--------------------mr-...
*/

.mr-auto{
    margin-right: auto;
}

.mr-0{
    margin-right: 0rem;
}

.mr-1{
    margin-right: 0.25rem;
}


/* 
+ ---------------------------- MARGIN 
+--------------------ml-...
*/

.ml-auto{
    margin-left: auto;
}



/* MARGIN BOTTON */
.mb-4{
    margin-bottom: 1rem;
}

.mb-5{
    margin-bottom: 1.25rem;
}

/* 
+
+ ---------------------------- PADDING
+
*/

/* 
+ ---------------------------- PADDING 
+-------------------- P-...
*/

.p-0{
    padding: 0%;
}

.p-1{
    padding: 0.25rem !important; /* 4px */
}

.p-2{
    padding: 0.5rem !important; /* 8px */
}

.p-4{
    padding: 1rem !important; /* 16px */
}

.p-5{
    padding: 1.25rem !important; /* 16px */
}

.p-6{
    padding: 1.5rem !important; /* 16px */
}

.p-7{
    padding: 1.75rem !important; /* 16px */
}

.p-8{
    padding: 2rem !important; /* 16px */
}


/* 
+ ---------------------------- PADDING 
+-------------------- px-...
*/

.px-1{
    padding-left: 0.25rem !important; /* 4px */
    padding-right: 0.25rem !important; /* 4px */
}

.px-2{
    padding-left: 0.5rem !important; /* 8px */
    padding-right: 0.5rem !important; /* 8px */
}

.px-3{
    padding-left: 0.75rem !important; /* 12px */
    padding-right: 0.75rem !important; /* 12px */
}

.px-4{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-5{
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.px-6{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-7{
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

.px-8{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}


/* 
+ ---------------------------- PADDING 
+-------------------- py-...
*/


.py-1{
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
}

.py-2{
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
}

.py-3{
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
}

.py-4{
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
}

.py-4{
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
}

.py-5{
    padding-top: 1.25rem; /* 20px */
    padding-bottom: 1.25rem; /* 20px */
}

.py-6{
    padding-top: 1.5rem; /* 24px */
    padding-bottom: 1.5rem; /* 24px */
}

/* 
+
+ ---------------------------- BORDER RADIUS
+
*/

.rounded{
    border-radius: 0.25rem; /* 4px */
}	

.rounded-md{
    border-radius: 0.375rem !important; /* 6px */
}

.rounded-lg{
    border-radius: 0.5rem; /* 8px */
}
.rounded-xl{
    border-radius: 0.75rem; /* 12px */
}

.rounded-2xl{
    border-radius: 1rem; /* 16px */
}	
.rounded-3xl{
    border-radius: 1.5rem; /* 24px */
}

/* 
+
+ ---------------------------- OVERFLOW
+
*/

.overflow-auto{
    overflow: auto;
}

.overflow-scroll{
    overflow: scroll;
}

.overflow-y-auto{
    overflow-y: auto;
}

.overflow-x-scroll{
    overflow-x: scroll;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.overflow-y-hidden{
    overflow-y: hidden;
}

/* 
*
* RESPOSIVE DESIGNS 
*
*/

@media (min-width: 640px) {
    
    .sm\:mr-0{
        margin-right: 0rem;
    }
    
    .sm\:mr-1{
        margin-right: 0.25rem;
    }

    .sm\:flex{
        display: flex;
    }

    .sm\:w-1_4{
        width: 25%;
    }

    .sm\:w-3_4{
        width: 75%;
    }

    .sm\:block{
        display: block;
    }

    .sm\:w-full{
        width: 100% !important;
    }

    .sm\:w-1_2{
        width: 50% !important;
    }

    .sm\:flex-wrap{
        flex-wrap: wrap;
    }

    .sm\:flex-nowrap{
        flex-wrap: nowrap;
    }

    .sm\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}



@media (min-width: 768px) {
    
    .md\:mr-0{
        margin-right: 0rem;
    }
    
    .md\:mr-1{
        margin-right: 0.25rem;
    }

    .md\:flex{
        display: flex;
    }

    .md\:w-1_4{
        width: 25%;
    }

    .md\:w-3_4{
        width: 75%;
    }

    .md\:block{
        display: block;
    }

    .md\:w-full{
        width: 100% !important;
    }

    .md\:w-1_2{
        width: 50% !important;
    }

    .md\:flex-wrap{
        flex-wrap: wrap;
    }

    .md\:flex-nowrap{
        flex-wrap: nowrap;
    }

    .md\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}




@media (min-width: 1024px) {
    
    .lg\:mr-0{
        margin-right: 0rem;
    }
    
    .lg\:flex{
        display: flex;
    }

    .lg\:w-1_4{
        width: 25%;
    }

    .lg\:w-3_4{
        width: 75%;
    }

    .lg\:block{
        display: block;
    }

    .lg\:w-full{
        width: 100% !important;
    }

    .lg\:w-1_2{
        width: 50% !important;
    }

    .lg\:flex-wrap{
        flex-wrap: wrap;
    }

    .lg\:flex-nowrap{
        flex-wrap: nowrap;
    }

    .lg\:grid-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .xl\:flex{
        display: flex;
    }

    .xl\:block{
        display: block;
    }

    .xl\:w-1_4{
        width: 25%;
    }

    .xl\:w-3_4{
        width: 75%;
    }

    .xl\:w-full{
        width: 100%;
    }

    .xl\:w-1_2{
        width: 50% !important;
    }


    .xl\:w-1_4{
        width: 25% !important;
    }

    .xl\:flex-wrap{
        flex-wrap: wrap;
    }

    .xl\:flex-nowrap{
        flex-wrap: nowrap;
    }

    .xl\:grid-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    
}


@media (min-width: 1536px) {
    .xl2\:flex{
        display: flex;
    }

    .\xl2\:block{
        display: block;
    }

    .xl2\:w-1_4{
        width: 25%;
    }

    .xl2\:w-3_4{
        width: 75%;
    }

    .xl2\:w-full{
        width: 100%;
    }

    .xl2\:w-1_2{
        width: 50%;
    }

    .xl2\:w-auto{
        width: auto;
    }

    .xl2\:w-1_4{
        width: 25%;
    }

    .xl2\:flex-wrap{
        flex-wrap: wrap;
    }

    .xl2\:flex-nowrap{
        flex-wrap: nowrap;
    }

    .xl2\:grid-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    
    
}
