/* 
+
+ ---------------------------- HEIGHT
+
*/

/* 
+
+ ------------------- PORCENTAJES
+
*/

.h-full {
    height: 100% !important;
}

.h-1\/2 {
    height: 50%;
}

/* 
+
+ ------------------- TAMAÑOS POR X REM
+
*/

.h-5 {
    height: 1.25rem;
    /* 20px */
}

.h-6 {
    height: 1.5rem;
    /* 24px */
}

.h-7 {
    height: 1.75rem;
    /* 28px */
}

.h-8 {
    height: 2rem;
    /* 32px */
}

.h-9 {
    height: 2.25rem;
    /* 36px */
}

.h-12 {
    height: 3rem;
    /* 48px */
}

.h-14 {
    height: 3.5rem;
    /* 56px */
}

.h-16 {
    height: 4rem;
    /* 64px */
}

.h-20 {
    height: 5rem;
    /* 80px */
}

.h-24 {
    height: 6rem;
    /* 96px */
}
