/*
+
+   COMPONENTES DE MENU
+
*/

:root {
    --primary-color: #1e3a8a;
    --second-color: #3b82f6;
    --gray-primary: #f1f4fb;
    --gray-second: #CCD7DB;
    --gray-soft: #F2F2F2;
    --gray-dark: #656E70;

    --gray-700: #4D4D4D;
    --gold-500: #C2872B;
    --green-500: #5BA132;
    --red-500: #C93240;

    /* SLATE */
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-800: #1e293b;
}

/*
+   MENU DE OPCIONES PARA RUTINAS 
+   EN USO EN FACTURACION 0039
*/

.option-menu-rutinas{
    color: var(--slate-800);
    background-color: white;
    transition: all 500ms ease-in-out;
    border-right: var(--slate-400) 2px solid;
    cursor: pointer;
}

.option-menu-rutinas:hover{
    background-color: var(--slate-300);
}
.option-menu-rutinas:active{
    background-color: var(--slate-300);
    transform: scaleX(1.05);
}


div.menu-rutinas div:first-child{
    border-top-left-radius: 9999px !important;
    border-bottom-left-radius: 9999px !important;
}

div.menu-rutinas div:last-child{
    border-top-right-radius: 9999px !important; 
    border-bottom-right-radius: 9999px !important;
    border-right: none;
}