.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 0px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}


.ui-autocomplete .ui-state-active, 
.ui-autocomplete .ui-widget-content .ui-state-active, 
.ui-autocomplete .ui-widget-header .ui-state-active, 
.ui-autocomplete a.ui-button:active, 
.ui-autocomplete .ui-button:active, 
.ui-autocomplete .ui-button.ui-state-active:hover {

  border: 0!important;
  background-color: #3e5a6a!important;
  font-weight: normal!important;
  color: #fff!important;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    background: rgb(177, 189, 195)!important;
    font-family: Helvetica!important;
    font-size: 12px!important;
    text-transform: uppercase!important;
}
