/* test */

.btn-inicial {
    background-color: #33414e !important;
}

.btn-inicial i {
    color: #fff !important;
}

.btn-inicial:hover {
    background-color: #fff;
}

.btn-inicial:hover i {
    color: #1f1f1f;
}

.btn-inicial:focus {
    box-shadow: 0;
}

.btn-right{
    text-align: right;
}

.btn {
    border-radius: 0 !important;
}

.btn.btn-primario {
    background-color: #03a9f4;
    color: #fff;
}

.btn.btn-primario:hover {
    background-color: #2196f3;
    color: #fff;
}

.btn {
    border-radius: 2px !important;
    border: 0 !important;
}

.btn.btn-danger {
    background-color: #dc3545 !important;
}

.btn.btn-danger:hover {
    background-color: #ca708c !important;
}

.btn-ex-custom.btn-ex-custom-success {
    font-family: 'Roboto';
    font-weight: normal;
    color: #FFF;
    background-color: #38B475;
    border: 1px solid #44B26A;
}

/*
.btn[class*="btn-"]{
    border-color: #07c;
    position: relative;
    display: inline-block;
    padding: .8em;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15384615;
    text-align: center!important;
    text-decoration: none;
    cursor: pointer;
}*/

.btn-primary, 
.btn-primario{
    color: #FFF;
    background-color: #2196f3!important;
}

.btn-primary:focus,
.btn-primario:hover{
	color: #1f1f1f!important;
	background-color: #f2f279 !important;
	border-color: #0062cc;
	box-shadow: 0 0 0 0;
}


.ui-widget-content a.btn { 
    color: #fff!important;
}

.btn-sm {
    padding: 0.05rem 0.3rem!important;
}

